#version: '3'
services:
    laravel.test:
        build:
            context: docker/local/8.5
            dockerfile: Dockerfile
            args:
                WWWGROUP: '${DOCKER_UID}'
        image: laravel-for-tests/sail-8.5
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        ports:
            - '${DOCKER_HTTP_HOST:-127.0.0.1}:80:80'
            - '${DOCKER_HTTP_HOST:-127.0.0.1}:5173:5173'
        environment:
            WWWUSER: '${DOCKER_GID}'
            LARAVEL_SAIL: 1
            XDEBUG_MODE: '${SAIL_XDEBUG_MODE:-off}'
            XDEBUG_CONFIG: '${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}'
            IGNITION_LOCAL_SITES_PATH: '${PWD}'
        volumes:
            - '.:/var/www/html'
            - './docker/local/8.5/supervisord.conf:/etc/supervisor/conf.d/supervisord.conf:ro'
        networks:
            - sail
        depends_on:
#            - mysql
            - redis
    mysql:
        image: 'mysql/mysql-server:8.0'
        ports:
            - '${DOCKER_MYSQL_HOST:-127.0.0.1}:3306:3306'
        environment:
            MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ROOT_HOST: '%'
            MYSQL_DATABASE: '${DB_DATABASE}'
            MYSQL_USER: '${DB_USERNAME}'
            MYSQL_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
        volumes:
            - 'sail-mysql:/var/lib/mysql'
            - './vendor/laravel/sail/database/mysql/create-testing-database.sh:/docker-entrypoint-initdb.d/10-create-testing-database.sh'
        networks:
            - sail
        healthcheck:
            test:
                - CMD
                - mysqladmin
                - ping
                - '-p${DB_PASSWORD}'
            retries: 3
            timeout: 5s
    redis:
        image: 'redis:alpine'
        ports:
            - '${DOCKER_REDIS_HOST:-127.0.0.1}:6379:6379'
        volumes:
            - 'sail-redis:/data'
        networks:
            - sail
        healthcheck:
            test:
                - CMD
                - redis-cli
                - ping
            retries: 3
            timeout: 5s
networks:
    sail:
        driver: bridge
volumes:
    sail-mysql:
        driver: local
    sail-redis:
        driver: local
